<div class="container" id="expnuevactn">
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group green-border-focus">
          <label for="nuevaExperiencia">Editar experiencia</label>
          <textarea
            class="form-control"
            id="nombreE"
            rows="3"
            placeholder="Título"
            name="nombreE"
            [(ngModel)]="expLab.nombreE"
            required
          ></textarea>
        </div>
        <div class="form-group green-border-focus">
          <textarea
            class="form-control"
            id="descripcionE"
            rows="3"
            placeholder="Descripción"
            name="descripcionE"
            [(ngModel)]="expLab.descripcionE"
            required
          ></textarea>
        </div>
        <div class="form-group green-border-focus">
          <input
            class="form-control"
            id="imgE"
            type="file"
            placeholder="Elegir imagen"
            name="imgE"
            [(ngModel)]="expLab.imgE"
            (change)="uploadImg($event)"
            accept=".jpg, .jpeg, .png"
          />
          <div class="imgPreview">
            <img [src]="imageService.url" width="96px" />
          </div>
        </div>
        <div class="d-grid">
          <button class="btn btn-dark">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
