h5 {
  text-align: center;
  padding: 2%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

/* #hyss {
  display: flex;
  flex-direction: row;
  padding: 2%;
} */

.circle {
  width: 100%;
  text-align: center;
}

#hyssctn {
  padding: 2%;
  margin: 0% 0%;
  width: 100%;
  text-align: -webkit-center;
}

.container-lg {
  padding-bottom: 1%;
  text-align: center;
}

h4 {
  width: 100%;
}

.btn-group {
  opacity: 0.3;
}
