<div class="container" id="projnuevoctn">
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group green-border-focus">
          <label for="editProjecto">Editar proyecto</label>
          <textarea
            class="form-control"
            id="nombreP"
            rows="3"
            placeholder="Título"
            name="nombreP"
            [(ngModel)]="proj.nombreP"
            required
          ></textarea>
        </div>
        <div class="form-group green-border-focus">
          <textarea
            class="form-control"
            id="descripcionP"
            rows="3"
            placeholder="Descripción"
            name="descripcionP"
            [(ngModel)]="proj.descripcionP"
            required
          ></textarea>
        </div>
        <div class="form-group green-border-focus">
          <input
            class="form-control"
            id="imgP"
            type="file"
            placeholder="Elegir imagen"
            name="imgP"
            [(ngModel)]="proj.imgP"
            (change)="uploadImg($event)"
            accept=".jpg, .jpeg, .png"
          />
          <div class="imgPreview">
            <img [src]="imageService.url" width="96px" />
          </div>
        </div>
        <div class="d-grid">
          <button class="btn btn-dark">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
