*back .bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

.form-outline .form-control.form-control-l {
  background-color: white;
  border: 1px solid rgb(190, 189, 189);
}

input {
  background-color: white;
  border: 1px solid rgb(190, 189, 189);
}
